@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}

.titles-h2 {
    font-size: 2rem !important;
    color: #0108F8;
}

@media screen and (max-width: 500px) {
}

@media screen and (min-width: 501px) and (max-width: 600px) {
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
    .titles-h2 {
        font-size: 2.2rem !important;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1280px) {
    .titles-h2 {
        font-size: 2.2rem !important;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1366px) {
    .titles-h2 {
        font-size: 2.4rem !important;
    }
}

@media screen and (min-width: 1367px) and (max-width: 1600px) {
    .titles-h2 {
        font-size: 2.4rem !important;
    }
}

@media screen and (min-width: 1601px){
    .titles-h2 {
        font-size: 2.5rem !important;
    }
}